/*
 * -------------------------------------------------
 *  Nextflow config file for running on AWS batch
 * -------------------------------------------------
 * Base config needed for running with -profile awsbatch
 */
params {
  config_profile_name = 'AWSBATCH'
  config_profile_description = 'AWSBATCH Cloud Profile'
  config_profile_contact = 'srinivasarao A (@asrini)'
  config_profile_url = 'https://aws.amazon.com/de/batch/'
}

workDir = 's3://sb-nfs/scape/work'
aws.region = 'us-east-1'
process.executor = 'awsbatch'
process.container = '947682355454.dkr.ecr.us-east-1.amazonaws.com/nfs:latest'
process.queue = 'HAWK-Spot-Batch-Queue'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
