/*
 * -------------------------------------------------
 *  Nextflow config file for running on AWS batch
 * -------------------------------------------------
 * Base config needed for running with -profile local docker
 */
params {
  config_profile_name = 'docker'
  config_profile_description = 'docker Profile'
  config_profile_contact = 'srinivasarao A (@asrini)'
  config_profile_url = 'https://aws.amazon.com/de/batch/'
}

process.container = 'srinivas295/pipeline:latest'
docker.enabled = true
